@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<h3>Welcome to my Blazor Static Web App demo.</h3>

<p>If you want to learn about the purpose of this app, click the "About" link above.</p>

<Form Title="Tell me your favorite game!" />
